.section {
  display: flex;
  box-sizing: border-box;
  margin: 0 auto;
  width: 900px;
  min-height: calc(100vh - 120px);
  padding: 30px;
  background-color: #fffed0;

  .col {
    flex-basis: 50%;
    padding: 20px;
    font-size: 24px;

    .avatar {
      width: 100%;
    }

    .avatarBlock {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      border: 3px solid darkblue;
      background-color: #cccccc;
      position: relative;

      &:after {
        content: "Your avatar";
        display: block;
        text-align: center;
        width: 200px;
        position: absolute;
        top: calc(100% / 2 - 17px);
        left: calc(50% - 100px);
        color: #ffffff;
        font-weight: bold;
        font-size: 34px;
      }
    }

    .info {
      font-style: italic;
      font-weight: 800;
    }
  }
}
