.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.2rem;

  .tableHeader {
    font-size: 1.3rem;
  }

  TBODY TR:nth-child(odd) {
    background-color: rgb(241, 240, 240);
  }

  td {
    text-align: center;
    padding: 10px;
  }

  .link {
    text-decoration: none;
  }

  tbody:before {
    content: "@";
    display: block;
    line-height: 15px;
    text-indent: -99999px;
  }
}
